body {
  margin: 0;
  background-color: rgb(22, 42, 77);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: black !important;
}
